Django==1.7.1
dj-database-url==0.3.0
dj-static==0.0.6
django-analytical==0.19.0
django-compressor==1.4
django-post-office==1.0.0
django-toolbelt==0.0.1
gnureadline==6.3.3
gunicorn==19.1.1
ipdb==0.8
ipython==2.2.0
jsonfield==1.0.0
Pillow==2.6.1
psycopg2==2.5.3
static3==0.5.1
wsgiref==0.1.2
