{% load google_analytics %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}/img/favicon.ico" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}styles.css" rel="stylesheet">
    <link href="{{STATIC_URL}}same_column_heights.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    {% google_analytics %}

    <title>{% block title %}ToTroops.com - Care packages for service members.{% endblock %}</title>
</head>

<body>

  {% block content %}{% endblock content %}

</body>
</html>
