{% extends 'base.html' %}

{% block title %}totroops.com{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Sign up for beta!</h1>
    
        <form class="form-inline" role="form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="input_email" class="hidden">Email address</label>
                <input type="email" class="form-control" id="input_email" name="email" placeholder="Enter email">
                <button type="button" class="btn btn-success" action="submit">Sign up!</button>
            </div>
        </form>
    </div>

{% endblock %}
