{% extends 'base.html' %}

{% block title %}ToTroops.com - Care packages for service members.{% endblock %}

{% block content %}
  <div class="beta-tron">
    <div class="col-md-8 col-md-offset-2">
        <img src="/static/img/logo_white.png" class="img-responsive logo" alt="ToTroops">
        <h1 class="text-center">ToTroops is a new and hassel-free way to send personalized care packages to troops at home and abroad.</h1>
        <h4 class="text-center">Sign up and recieve an 25% off your first package!</h4>
          <form class="form-inline center" role="form" method="POST">
            {% csrf_token %}
            <div class="form-group center">
              <label for="input_email" class="hidden">Email address</label>
              <input type="email" class="form-control" id="input_email" name="email" placeholder="Email address">
              <button type="button" class="btn btn-green" action="submit">Sign up!</button>
            </div>
          </form>
       <!--  <p class="text-center description">As a veteran, I know how meaningful it is to receive a care package during deployment. We're building ToTroops to offer you a fast, affordable, and hassle-free way to send love abroad. We want ToTroops to be the absolute best possible way to send a care package, so to ensure this we'll be asking you to complete a few short surveys about our service, in exchange for a 25% discount on your first care package.</p> -->
    </div>
  </div>
  <h4 class="text-centered steps-tab">4 Easy Steps</h4>
  <div class="steps">
      <div class="col-md-3">
        <img src="/static/img/package_white.png" class="img-responsive icons" alt="Pick a Package">
        <h4 class="text-center">1. Pick a Package</h4>
        <p class="text-center">We have 3 different packages to choose from. Find the one means the most to your loved one.</p>
      </div>
      <div class="col-md-3">
        <img src="/static/img/postcard_white.png" class="img-responsive icons" alt="Personalize It">
        <h4 class="text-center">2. Personalize It</h4>
        <p class="text-center">Make your own postcard by writing a personal note. You can even upload a picture or choose from a number of designs.</p>
      </div>
      <div class="col-md-3">
        <img src="/static/img/stamp_white.png" class="img-responsive icons" alt="Send It">
        <h4 class="text-center">3. Send It</h4>
        <p class="text-center">Just enter your details and leave it to us to send off your package.</p>
      </div>
      <div class="col-md-3">
        <img src="/static/img/survey_white.png" class="img-responsive icons" alt="Feedback">
        <h4 class="text-center">4. Feedback</h4>
        <p class="text-center">To make sure that we’ve met your expectations, we kindly ask you to complete a short survey.</p>
      </div>
  </div>
    <h4 class="text-centered sign-up-tab">Sign Up</h4>
    <div class="sign-up">
    <div class="col-md-8 col-md-offset-2">
    <h4 class="text-center">Sign up and recieve an 25% off your first package!</h4>
      <form class="form-inline center" role="form" method="POST">
        {% csrf_token %}
        <div class="form-group center">
          <label for="input_email" class="hidden">Email address</label>
          <input type="email" class="form-control" id="input_email" name="email" placeholder="Email address">
          <button type="button" class="btn btn-green" action="submit">Sign up!</button>
        </div>
      </form>
        </div>
    </div>

{% endblock %}
