{% extends 'base.html' %}

{% block title %}totroops.com{% endblock %}

{% block content %}
<div class="thankstron">
  <div class="col-md-8 col-md-offset-2 shout-out">        
        <img src="/static/img/logo_white.png" class="img-responsive logo" alt="ToTroops">
        <h1>Thanks!</h1>
        <p>We really appreciate your business. We look forward to providing top quality care packages for your friends and loved ones. Check your email inbox for more information on the package you shipped!</p>
  </div>
</div>

{% endblock %}
