{% extends 'base.html' %}

{% block title %}totroops.com{% endblock %}

{% block content %}
<div class="thankstron">
  <div class="col-md-8 col-md-offset-2 shout-out">        
        <img src="/static/img/logo_white.png" class="img-responsive logo" alt="ToTroops">
        <h1>Thanks!</h1>
        <p>We really appreciate your interest in our service. We look forward to providing top quality care packages for your friends and loved ones. We'll be in touch soon with more details about our service. :)</p>
  </div>
</div>

{% endblock %}
