body {
    background: $accent-color;
}

h1, h2, h3, h4, h5, h6, p, blockquote, a {
    color: white;
}

.blue-bg-light {
    background-color: $brand-color;
}

.blue-bg-md {
    background-color: $brand-color-dark;
}

.blue-bg-dark {
    background-color: $brand-color-darker;
}