.thankstron {
  background-size: cover;
  min-height: 600px;
  max-height: 850px;
  padding: 5% 10% 10%;

  .shout-out {
    padding: 5% 10% 10%;
    background: #3b4c57;
  }

  .logo {
    margin: 0 auto;
    width: 150px;
  }

  .center {
    margin: 0 auto;
    text-align: center;
  }

  .description {
    padding: 20px 20px 40px;
  }

}