/* line 1, ../sass/base/_base.scss */
body {
  background: #949E6D;
}

/* line 5, ../sass/base/_base.scss */
h1, h2, h3, h4, h5, h6, p, blockquote, a {
  color: white;
}

/* line 9, ../sass/base/_base.scss */
.blue-bg-light {
  background-color: #434D57;
}

/* line 13, ../sass/base/_base.scss */
.blue-bg-md {
  background-color: #3C4248;
}

/* line 17, ../sass/base/_base.scss */
.blue-bg-dark {
  background-color: #36383A;
}

/* line 21, ../sass/base/_base.scss */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* columns of same height styles */
/* Reference http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height */
/* line 3, ../sass/layout/_grid.scss */
.container-xs-height {
  display: table;
  padding-left: 0;
  padding-right: 0;
}

/* line 8, ../sass/layout/_grid.scss */
.row-xs-height {
  display: table-row;
}

/* line 11, ../sass/layout/_grid.scss */
.col-xs-height {
  display: table-cell;
  float: none;
}

@media (min-width: 768px) {
  /* line 17, ../sass/layout/_grid.scss */
  .container-sm-height {
    display: table;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 22, ../sass/layout/_grid.scss */
  .row-sm-height {
    display: table-row;
  }

  /* line 25, ../sass/layout/_grid.scss */
  .col-sm-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 992px) {
  /* line 32, ../sass/layout/_grid.scss */
  .container-md-height {
    display: table;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 37, ../sass/layout/_grid.scss */
  .row-md-height {
    display: table-row;
  }

  /* line 40, ../sass/layout/_grid.scss */
  .col-md-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 1200px) {
  /* line 47, ../sass/layout/_grid.scss */
  .container-lg-height {
    display: table;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 52, ../sass/layout/_grid.scss */
  .row-lg-height {
    display: table-row;
  }

  /* line 55, ../sass/layout/_grid.scss */
  .col-lg-height {
    display: table-cell;
    float: none;
  }
}
/* vertical alignment styles */
/* line 62, ../sass/layout/_grid.scss */
.col-top {
  vertical-align: top;
}

/* line 65, ../sass/layout/_grid.scss */
.col-middle {
  vertical-align: middle;
}

/* line 68, ../sass/layout/_grid.scss */
.col-bottom {
  vertical-align: bottom;
}

/* line 1, ../sass/layout/_footer.scss */
footer {
  padding: 20px;
}

/* line 1, ../sass/components/_buttons.scss */
.btn-green {
  background: #949E6D;
  color: #fff;
}

/* Ribbon */
/* http://www.bypeople.com/responsive-css-ribbon-codepen/ */
/* line 4, ../sass/components/_ribbon.scss */
.ribbon {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  position: relative;
}
/* line 10, ../sass/components/_ribbon.scss */
.ribbon > div {
  height: 50px;
}
@media (max-width: 767px) {
  /* line 10, ../sass/components/_ribbon.scss */
  .ribbon > div {
    height: 30px;
  }
}
/* line 18, ../sass/components/_ribbon.scss */
.ribbon .bk {
  background: #6D7158;
  position: absolute;
  width: 15%;
  top: 24px;
}
@media (max-width: 767px) {
  /* line 18, ../sass/components/_ribbon.scss */
  .ribbon .bk {
    top: 17px;
  }
}
/* line 28, ../sass/components/_ribbon.scss */
.ribbon .bk.l {
  left: 0;
}
/* line 31, ../sass/components/_ribbon.scss */
.ribbon .bk.l > div {
  left: -30px;
}
@media (max-width: 767px) {
  /* line 31, ../sass/components/_ribbon.scss */
  .ribbon .bk.l > div {
    left: -20px;
  }
}
/* line 40, ../sass/components/_ribbon.scss */
.ribbon .bk.r {
  right: 0;
}
/* line 43, ../sass/components/_ribbon.scss */
.ribbon .bk.r > div {
  right: -30px;
}
@media (max-width: 767px) {
  /* line 43, ../sass/components/_ribbon.scss */
  .ribbon .bk.r > div {
    right: -20px;
  }
}
/* line 53, ../sass/components/_ribbon.scss */
.ribbon .arrow {
  height: 25px !important;
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
}
/* line 60, ../sass/components/_ribbon.scss */
.ribbon .arrow.top {
  top: 0px;
  border-top: 0px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 30px solid #6D7158;
}
/* line 67, ../sass/components/_ribbon.scss */
.ribbon .arrow.bottom {
  top: 25px;
  border-top: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 30px solid #6D7158;
}
@media (max-width: 767px) {
  /* line 67, ../sass/components/_ribbon.scss */
  .ribbon .arrow.bottom {
    top: 5px;
  }
}
/* line 80, ../sass/components/_ribbon.scss */
.ribbon .r .bottom {
  border-left: 30px solid #6D7158;
  border-right: none;
}
/* line 85, ../sass/components/_ribbon.scss */
.ribbon .r .top {
  border-left: 30px solid #6D7158;
  border-right: none;
}
@media (max-width: 767px) {
  /* line 90, ../sass/components/_ribbon.scss */
  .ribbon .r .arrow {
    right: -14px;
  }
}
@media (max-width: 767px) {
  /* line 99, ../sass/components/_ribbon.scss */
  .ribbon .l .arrow {
    left: -14px;
  }
}

/* line 107, ../sass/components/_ribbon.scss */
.ribbon-text {
  background: #949E6D;
  position: relative;
  display: block;
  width: 90%;
  left: 50%;
  top: 0;
  padding: 5px;
  margin-left: -45%;
  z-index: 10;
}
/* line 118, ../sass/components/_ribbon.scss */
.ribbon-text > div {
  height: 40px;
  line-height: 2em;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 118, ../sass/components/_ribbon.scss */
  .ribbon-text > div {
    height: 20px;
  }
}

/* line 131, ../sass/components/_ribbon.scss */
.ribbon-skew {
  position: absolute;
  background: #505246;
  width: 10%;
  top: 12px;
  z-index: 5;
}
@media (max-width: 767px) {
  /* line 131, ../sass/components/_ribbon.scss */
  .ribbon-skew {
    top: 9px;
  }
}
/* line 142, ../sass/components/_ribbon.scss */
.ribbon-skew.l {
  left: 5%;
  transform: skew(0deg, 28deg);
}
@media (min-width: 1475px) {
  /* line 142, ../sass/components/_ribbon.scss */
  .ribbon-skew.l {
    transform: skew(0deg, 20deg);
  }
}
@media (max-width: 1199px) {
  /* line 142, ../sass/components/_ribbon.scss */
  .ribbon-skew.l {
    transform: skew(0deg, 15deg);
  }
}
@media (max-width: 991px) {
  /* line 142, ../sass/components/_ribbon.scss */
  .ribbon-skew.l {
    transform: skew(0deg, 16deg);
  }
}
@media (max-width: 767px) {
  /* line 142, ../sass/components/_ribbon.scss */
  .ribbon-skew.l {
    transform: skew(0deg, 18deg);
  }
}
/* line 164, ../sass/components/_ribbon.scss */
.ribbon-skew.r {
  right: 5%;
  transform: skew(0deg, -28deg);
}
@media (min-width: 1475px) {
  /* line 164, ../sass/components/_ribbon.scss */
  .ribbon-skew.r {
    transform: skew(0deg, -20deg);
  }
}
@media (max-width: 1199px) {
  /* line 164, ../sass/components/_ribbon.scss */
  .ribbon-skew.r {
    transform: skew(0deg, -15deg);
  }
}
@media (max-width: 991px) {
  /* line 164, ../sass/components/_ribbon.scss */
  .ribbon-skew.r {
    transform: skew(0deg, -16deg);
  }
}
@media (max-width: 767px) {
  /* line 164, ../sass/components/_ribbon.scss */
  .ribbon-skew.r {
    transform: skew(0deg, -18deg);
  }
}

/* line 1, ../sass/components/_thankstron.scss */
.thankstron {
  background-size: cover;
  min-height: 600px;
  max-height: 850px;
  padding: 5% 10% 10%;
}
/* line 7, ../sass/components/_thankstron.scss */
.thankstron .shout-out {
  padding: 5% 10% 10%;
  background: #3b4c57;
}
/* line 12, ../sass/components/_thankstron.scss */
.thankstron .logo {
  margin: 0 auto;
  width: 150px;
}
/* line 17, ../sass/components/_thankstron.scss */
.thankstron .center {
  margin: 0 auto;
  text-align: center;
}
/* line 22, ../sass/components/_thankstron.scss */
.thankstron .description {
  padding: 20px 20px 40px;
}

/* line 1, ../sass/components/_modals.scss */
#packageModal p, #packageModal h4 {
  color: #000;
}

/* line 5, ../sass/components/_modals.scss */
#basicPackageImg {
  height: 350px;
  width: 500px;
  margin-left: 20px;
  margin-bottom: 15px;
}

/* line 1, ../sass/pages/_beta.scss */
.beta-tron {
  background: linear-gradient(rgba(80, 87, 90, 0.75), rgba(80, 87, 90, 0.75)), url("/static/img/beta_bg.jpg");
  background-size: cover;
  background-position: center 33%;
  min-height: 430px;
  padding: 5% 10% 10%;
}
@media all and (max-width: 1199px) {
  /* line 1, ../sass/pages/_beta.scss */
  .beta-tron {
    min-height: inherit;
  }
}

/* line 13, ../sass/pages/_beta.scss */
.beta-tron-text {
  font-weight: 200;
}

/* line 17, ../sass/pages/_beta.scss */
.how-it-works {
  color: #fff;
  padding: 40px 0;
}
/* line 21, ../sass/pages/_beta.scss */
.how-it-works .step {
  padding: 1em;
  text-align: center;
  margin-bottom: 1.2em;
}
/* line 26, ../sass/pages/_beta.scss */
.how-it-works .step h4 {
  font-weight: 300;
}
@media all and (max-width: 767px) {
  /* line 26, ../sass/pages/_beta.scss */
  .how-it-works .step h4 {
    font-size: 15px;
  }
}
/* line 34, ../sass/pages/_beta.scss */
.how-it-works .step .step-icon {
  position: relative;
  display: inline-block;
}
/* line 38, ../sass/pages/_beta.scss */
.how-it-works .step .step-icon img {
  max-height: 85px;
}
@media all and (max-width: 767px) {
  /* line 38, ../sass/pages/_beta.scss */
  .how-it-works .step .step-icon img {
    max-height: 70px;
  }
}
/* line 47, ../sass/pages/_beta.scss */
.how-it-works .step .circle-number {
  background-color: #36383A;
  color: #507EAE;
  padding: 0.3em 0.7em;
  border-radius: 50%;
  line-height: 1.42857143;
  margin-right: 10px;
  position: absolute;
  top: -15px;
  left: -15px;
}
/* line 59, ../sass/pages/_beta.scss */
.how-it-works .step .step-label {
  display: block;
  margin-top: 10px;
}

/* line 66, ../sass/pages/_beta.scss */
.how-it-works-label {
  margin-bottom: 40px;
}
/* line 69, ../sass/pages/_beta.scss */
.how-it-works-label .label {
  display: inline-block;
  background-color: #36383A;
  color: #507EAE;
  padding: 0.5em 1.2em;
  border-radius: 5em;
  text-transform: uppercase;
  font-weight: 500;
}

/* line 80, ../sass/pages/_beta.scss */
.product-description {
  padding: 40px;
}
/* line 83, ../sass/pages/_beta.scss */
.product-description h3 {
  margin: 0 0 20px;
}
/* line 87, ../sass/pages/_beta.scss */
.product-description .ribbon {
  margin-top: -50px;
  margin-bottom: 40px;
}
@media all and (max-width: 1199px) {
  /* line 87, ../sass/pages/_beta.scss */
  .product-description .ribbon {
    width: 100%;
  }
}
@media all and (min-width: 1200px) and (max-width: 1350px) {
  /* line 99, ../sass/pages/_beta.scss */
  .product-description .ribbon-text > div {
    font-size: 15px;
    line-height: 2.5em;
  }
}
@media all and (min-width: 992px) and (max-width: 1130px) {
  /* line 99, ../sass/pages/_beta.scss */
  .product-description .ribbon-text > div {
    font-size: 15px;
    line-height: 2.5em;
  }
}
@media all and (max-width: 768px) {
  /* line 99, ../sass/pages/_beta.scss */
  .product-description .ribbon-text > div {
    font-size: 16px;
    line-height: 1.3em;
  }
}
@media all and (max-width: 560px) {
  /* line 99, ../sass/pages/_beta.scss */
  .product-description .ribbon-text > div {
    font-size: 11px;
    line-height: 1.9em;
  }
}

/* line 125, ../sass/pages/_beta.scss */
.sign-up {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media all and (max-width: 1199px) {
  /* line 125, ../sass/pages/_beta.scss */
  .sign-up {
    padding: 40px 0;
  }
}
/* line 133, ../sass/pages/_beta.scss */
.sign-up h4 {
  line-height: 1.42857143;
  font-weight: 300;
  margin-bottom: 20px;
}

/* line 140, ../sass/pages/_beta.scss */
.row .sign-up {
  margin-left: -15px;
}

/* line 144, ../sass/pages/_beta.scss */
#beta_logo {
  margin-left: auto;
  margin-right: auto;
}
