body {
    background: #949e6d;
}
h1, h2, h3, h4, h5, h6, p, blockquote, a {
    color: white;
}

.beta-tron {
    background: linear-gradient(rgba(80, 87, 90, 0.75), rgba(80, 87, 90, 0.75)), url('/static/img/beta_bg.jpg');
    background-size: cover;
    background-position: center 33%;
    min-height: 430px;
    padding: 5% 10% 10%;
}

    @media all and (max-width: 1199px) {
        .beta-tron {
            min-height: inherit;
        }
    }

    .beta-tron-text {
        font-weight: 200;
    }

.thankstron {
    background-size: cover;
    min-height: 600px;
    max-height: 850px;
    padding: 5% 10% 10%;
}
.shout-out {
    padding: 5% 10% 10%;
    background: #3b4c57;
}
.logo {
    margin: 0 auto;
    width: 150px;
}
.center {
    margin: 0 auto;
    text-align: center;
}
.description {
    padding: 20px 20px 40px;
}

.btn-green {
    background: #949e6d;
    color: #fff;
}

.blue-bg-light {
    background-color: #434D57;
}

.blue-bg-md {
    background-color: #3C4248;
}

.blue-bg-dark {
    background-color: #36383A;
}


.how-it-works {
    color: #fff;
    padding: 40px 0;
}

    .how-it-works .step {
        padding: 1em;
        text-align: center;
        margin-bottom: 1.2em;
    }

        .how-it-works .step h4 {
            font-weight: 300;
        }

        @media all and (max-width: 767px) {
            .how-it-works .step h4 {
                font-size: 15px;
            }
        }

        .how-it-works .step .step-icon {
            position: relative;
            display: inline-block;
        }

            .how-it-works .step .step-icon img {
                max-height: 85px;
            }

            @media all and (max-width: 767px) {
                .how-it-works .step .step-icon img {
                    max-height: 70px;
                }
            }

            .how-it-works .step .circle-number {
                background-color: #36383A;
                color: #507EAE;
                padding: 0.3em 0.7em;
                border-radius: 50%;
                line-height: 1.42857143;
                margin-right: 10px;
                position: absolute;
                top: -15px;
                left: -15px;
            }

            .how-it-works .step .step-label {
                display: block;
                margin-top: 10px;
            }

.how-it-works-label {
    margin-bottom: 40px;
}

    .how-it-works-label .label {
        display: inline-block;
        background-color: #36383A;
        color: #507EAE;
        padding: 0.5em 1.2em;
        border-radius: 5em;
        text-transform: uppercase;
        font-weight: 500;
    }

.product-description {
    padding: 40px;
}

    .product-description h3 {
        margin: 0 0 20px;
    }

    .product-description .ribbon {
        margin-top: -50px;
        margin-bottom: 40px;
    }

    @media all and (max-width: 1199px) {
        .product-description .ribbon {
            width: 100%;
        }
    }

    @media all and (min-width: 1200px) and (max-width: 1350px) {
        .product-description .ribbon .ribbon-text > div {
            font-size: 15px;
            line-height: 2.5em;
        }
    }

    @media all and (min-width: 992px) and (max-width: 1130px) {
        .product-description .ribbon .ribbon-text > div {
            font-size: 15px;
            line-height: 2.5em;
        }
    }

    @media all and (max-width: 768px) {
        .product-description .ribbon .ribbon-text > div {
            font-size: 16px;
            line-height: 1.3em;
        }
    }

    @media all and (max-width: 560px) {
        .product-description .ribbon .ribbon-text > div {
            font-size: 11px;
            line-height: 1.9em;
        }
    }

.sign-up {
    padding-top: 40px;
    padding-bottom: 40px;
}

    @media all and (max-width: 1199px) {
        .sign-up {
            padding: 40px 0;
        }
    }

    .sign-up h4 {
        line-height: 1.42857143;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .row .sign-up {
        margin-left: -15px;
    }

footer {
    padding: 20px;
}

/* Ribbon */
/* http://www.bypeople.com/responsive-css-ribbon-codepen/ */

.ribbon {
    width: 80%;
    height: 80px;
    margin: 0 auto; 
    position: relative;
}

    .ribbon > div {
        height: 50px;
    }

    .ribbon .ribbon-text {
        background: #959B72; 
        position: relative;
        display: block;
        width: 90%;
        left: 50%;
        top: 0;
        padding: 5px;
        margin-left: -45%;
        z-index: 10;
    }

        .ribbon .ribbon-text > div {
            height: 40px;
            line-height: 2em;
            color: #fff;
            font-size: 18px;
            text-align: center;
        }

    .ribbon .bk {
        background: #6D7158;
        position: absolute;
        width: 15%;
        top: 24px;
    }

        .ribbon .bk.l {
            left: 0;
        }

        .ribbon .bk.r {
            right: 0;
        }

    .ribbon .ribbon-skew {
        position: absolute;
        background: #505246;
        width: 10%;
        top: 12px;
        z-index: 5;
    }

        .ribbon .ribbon-skew.l {
            left: 5%;
            transform: skew(00deg,28deg);
        }

        .ribbon .ribbon-skew.r {
            right: 5%;
            transform: skew(00deg,-28deg);
        }

    .ribbon .bk.l > div {
        left: -30px;
    }

    .ribbon .bk.r > div {
        right: -30px;
    }

    .ribbon .arrow {
        height: 25px !important;
        position: absolute;
        z-index: 2;
        width: 0; 
        height: 0; 
    }

        .ribbon .arrow.top {
            top: 0px;
            border-top: 0px solid transparent;
            border-bottom: 25px solid transparent;  
            border-right: 30px solid #6D7158; 
        }

        .ribbon .arrow.bottom {
            top: 25px;
            border-top: 25px solid transparent;
            border-bottom:0px solid transparent;    
            border-right: 30px solid #6D7158; 
        }

    .ribbon .r .bottom {
        border-top: 25px solid transparent;
        border-bottom: 0px solid transparent;   
        border-left: 30px solid #6D7158; 
        border-right: none;
    }

    .ribbon .r .top {
        border-bottom: 25px solid transparent;
        border-top: 0px solid transparent;  
        border-left: 30px solid #6D7158; 
        border-right: none;
    }

    @media (min-width: 1475px) {
        .ribbon .ribbon-skew.l {
            left: 5%;
            transform: skew(00deg,20deg);
        }

        .ribbon .ribbon-skew.r {
            right: 5%;
            transform: skew(00deg,-20deg);
        }
    }

    @media (max-width: 1199px) {
        .ribbon .ribbon-skew.l {
            left: 5%;
            transform: skew(00deg,15deg);
        }

        .ribbon .ribbon-skew.r {
            right: 5%;
            transform: skew(00deg,-15deg);
        }
    }

    @media (max-width: 991px) {
        .ribbon .ribbon-skew.l {
            left: 5%;
            transform: skew(00deg,16deg);
        }

        .ribbon .ribbon-skew.r {
            right: 5%;
            transform: skew(00deg,-16deg);
        }
    }

    @media (max-width: 767px) {
        .ribbon > div {
            height: 30px;
        }

        .ribbon .ribbon-text > div {
            height: 20px;
        }

        .ribbon .bk {
            top: 17px;
        }

        .ribbon .bk.l > div {
            left: -20px;
        }

        .ribbon .bk.r > div {
            right: -20px;
        }

        .ribbon .r .arrow {
            right: -14px;
        }
        .ribbon .l .arrow {
            left: -14px;
        }

        .ribbon .arrow.bottom {
            top: 5px;
        }

        .ribbon .ribbon-skew {
            top: 9px;
        }
        
            .ribbon .ribbon-skew.l {
                left: 5%;
                transform: skew(00deg,18deg);
            }

            .ribbon .ribbon-skew.r {
                right: 5%;
                transform: skew(00deg,-18deg);
            }
    }

/* /Ribbon */